.footer {
    border-top: #4aaaa5 solid 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    text-align: center; 
    background: #666666;
    color: #ffffff;
}

#footerpadding {
    margin-bottom: 150px;
}

