.header {
    background: #ffffff;
    width: 101%;
    height: 100px;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    margin: -10px;
    margin-bottom: 25px;
    border: #cccccc solid 1px;
}

#name {
    background: #4aaaa5;
    float: left;
    margin-left: 250px;
    color: #ffffff;
    height: 100px;
    width: 15%;
    font-size: 200%;
}

.navbar {
    float: right;
    margin-top: 25px;
    margin-right: 220px;
    padding: 10px;
}

#about, #portfolio, #contact {
    margin-top: 20px;
    padding-right: 10px;
    margin-right: 10px;
    color: #777777;
}

.navbar::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 980px) {
    #name {
        margin-left: 20px;
        width: 20%;
    }
    .navbar {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    #name {
        margin-left: 20px;
        width: 20%;
    }
    .navbar {
        margin-right: 0px;
    }
}

@media (max-width: 640px) {
    .header {
        height: 130px;
        width: 640px;
    }
    #name {
        width: 640px;
        text-align: center;
        margin-left: 0;
        height: 80px;
    }
    .navbar {
        margin-right: 188px;
        margin-top: 0px;
    }
}

